/* Your Website Styles */

h1, h3 {
font-family: 'Petit Formal Script', cursive;
}

p {
	font-family: 'Playfair Display', serif;
}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}